<section ng-controller="HomeController as vm">
    <div class="search-box">
        <h1 class="titleline"> We are <span class="extra-bold">SIMLab</span><span class="extra-bold magenta">.</span></h1>
        <hr class="bold" />
        <section ng-include="'/modules/core/client/views/search-box.client.view.html'"></section>
        <hr class="light" />
    </div>
    <section ng-include="'/modules/core/client/views/includes/features.cleint.view.html'"></section>
    <br/>
    <div class="row row.gutter-10">
        <div class="col-sm-8 right-divider" style="min-height:550px;">
            <h2 class="extra-bold">About</h2>
            <p>
                SIMLab is a nonprofit with a mission to realize a world where technology helps build societies that are equitable and inclusive.
                We help find the technologies that will be inclusive, and accessible, for the people you want to talk to
                and the contexts you need to work in; from radio to social media, from SMS to Whatsapp, from the mobile web
                to community noticeboards. We’ll help you deliver services, share information, and communicate with communities,
                generating new data and new conversations along the way.
            </p>
            <p>
                It won’t always be straightforward, and we’ll help uncover and share honest, difficult lessons. But we draw on social science,
                systems thinking, and human-centered design approaches, and our ten years of experience implementing technology
                projects in the world’s most difficult contexts.
            </p>
        </div>
        <div class="col-sm-4">
            <section ng-include="'/modules/services/client/views/partal/list-services.client.view.html'" > </section>
        </div>
    </div>
</section>
