<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="feature text-center" style="background-image: url('/images/post_images/sean-at-mombasa.jpg'); background-size: cover;">
            <div class="text-center overlay" style="">
                <h3><a href="/blog/stories/feature/2014/09/16/getting-our-data-ducks-in-a-row/" class="post-link extra-bold">Getting our Data Ducks in a Row</a></h3>
                <p><small>Sep 16, 2014
            &nbsp;<span style="line-height:3px;">|</span>&nbsp;
            <a href="/team/laura">Laura Walker McDonald</a></small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <div class="feature text-center" style="background-image: url('/images/post_images/sacco.jpg'); background-size: cover;">
            <div class="text-center overlay" style="">
                <h3><a href="/blog/stories/feature/2014/09/02/welcome-to-SIMLab/" class="post-link extra-bold">Welcome to SIMLab</a></h3>
                <p><small>Sep 2, 2014
            &nbsp;<span style="line-height:3px;">|</span>&nbsp;
            <a href="/team/laura">Laura Walker McDonalds</a></small>
                </p>
            </div>
        </div>
    </div>
</div>
















</div>