<ul class="list-unstyled social-buttons" ng-controller="HomeController as vm">
  <li class="bg-magenta round-button">
    <a class="fa fa-rss " href="/feed.xml"></a>
  </li>
  <li class="bg-magenta round-button">
    <a class="fa fa-twitter " href="https://twitter.com/{{ vm.twitter_username }}"></a>
  </li>
  <li class="bg-magenta round-button" >
      <a class="fa fa-envelope" style="left:1px;" href="mailto:{{ vm.email }}"></a>
  </li>
  <li class="bg-magenta round-button" >
      <a class="fa fa-facebook" href="https://www.facebook.com/{{ vm.facebook_username }}/?fref=nf"></a>
  </li> 
  <li class="bg-magenta round-button" >
      <a class="fa fa-linkedin"  href="https://www.linkedin.com/company/{{ vm.linkedin_username }}?trk=company_logo"></a>
  </li>
</ul>